{% extends "base.html" %} {% block html_title %}Pick your team | NHL Companion{%
endblock %} {% block html_head %}

<script>
	function explode(id) {
		let logo = $("#" + id);
		logo.removeClass();
		logo.addClass("chosen");

		let h1 = $("#title");
		let back = $(".go-back");
		h1.addClass("fade-out");
		back.addClass("fade-out");

		let otherLogos = $("a")
			.not(".go-back")
			.not("#" + id);
		otherLogos.removeClass();
		for (logo of otherLogos) {
			if (logo.id != id) {
				logo.style.opacity = 0;
			}
		}
	}
</script>

{% endblock %} {% block content %}
<div class="main">
	<div>
		<a class="go-back" href=" {{ url_for('main.index') }} ">&#8592; Go back</a>
	</div>
	<div class="title">
		<h1 id="title">Pick your team</h1>
	</div>
	<div class="teams">
		{% for team in teams %}

		<a
			class="pulse"
			id="{{ loop.index }}"
			href="javascript:setTimeout(()=>{window.location = '{{ url_for('teams.team_page', team=team.team_abbreviation) }}' },1000);"
			onclick="explode(this.id)"
		>
			<img
				loading="lazy"
				src="{{ team.logo }}"
				alt="{{ team.team_city }} {{ team.team_name }} logo"
			/>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
