{% extends "base.html" %}
{% block html_title %}{{team_abbreviation}} Goal Horn | NHL Companion{% endblock %} 
{% block meta_desc %}Play {{team_abbreviation}} goal horn! The best hockey goal horn app!{% endblock %} 
{% block html_head %}
{% for team in teams if team.team_abbreviation == team_abbreviation %}
<meta property="og:image" content="{{team.logo}}" />
<meta property="og:title" content="Automatically play the {{team.team_name}} goal horn!" />
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "SportsTeam",
	  "name": "{{ team.team_city }} {{ team.team_name }}",
	  "sport": "Ice Hockey",
	  "memberOf": [
		{
		  "@type": "SportsOrganization",
		  "name": "National Hockey League"
		}
	  ]
	}
</script>
{% endfor %}

<link rel="canonical" href="https://www.nhlcompanion.com/start/{{team_abbreviation}}">
<meta name="robots" content="index, follow">

<script>
	
	goalHorn = createGoalHorn();
	function createGoalHorn() {
		let team = getCookie("nhlc_team");
		goalHorn = new Audio('/static/sounds/' + team.toLowerCase() + '.mp3');
		return goalHorn
	}

	function playGoalHorn() {
		if (goalHorn) {
			goalHorn.play();
		} else {
			let team = getCookie("nhlc_team");
			goalHorn = new Audio('/static/sounds/' + team.toLowerCase() + '.mp3');
			goalHorn.play()
		}
		
		goalHornButton = $('#goal-horn');
		goalHornButton.text("Disable Horn");
		goalHornButton.attr("onclick","stopGoalHorn()");
		goalHornButton.addClass("disable-goal-horn");
		
	}
	
	function stopGoalHorn() {
		goalHorn.pause();
		goalHorn = null;
		
		goalHornButton = $('#goal-horn');
		goalHornButton.html("<i style='margin-right: 10px;' class='fa-solid fa-volume-high'></i>Sound Goal Horn");
		goalHornButton.attr("onclick","playGoalHorn()");
		goalHornButton.removeClass("disable-goal-horn");
	}


</script>
<script>
	let team = getCookie("nhlc_team");

	window.dataLayer = window.dataLayer || [];
	window.dataLayer.push({
		user_team: team[1],
	});
</script>
<script>

	function setEnableWebhookText(enabled) {

		let webhookEnabledText = $('#webhook-enable-text');
		let webhookUrlText = $('#webhook-url');
		let sendWebhook = $('#send-webhook');
		let webhookEnabledSymbol = $('.fa-circle');

		if (enabled) {
			webhookEnabledText.text("Webhooks enabled");
			webhookEnabledSymbol.toggleClass('enabled');
			webhookUrlText.fadeIn();
			webhookUrlText.html('<b>Your webhook: </b>' + getCookie("nhlc_webhook"))
			$('.webhook-enable-text').addClass('enabled').removeClass('disabled');
			sendWebhook.fadeIn();
		} else {
			webhookEnabledText.html("Webhooks disabled");
			webhookEnabledSymbol.toggleClass('enabled');
			webhookUrlText.hide();
			$('.webhook-enable-text').addClass('disabled').removeClass('enabled');
			sendWebhook.hide();
		}
		
	}

	function setCookies() {
		webhook = 'nhlc_webhook=' + $('#webhook').val();
		let webhookRegex = /(http|https)/;

		if ($('#streamDelay').val() < 3) {
			setCookie('nhlc_stream_delay=3');
		} else {
			setCookie('nhlc_stream_delay=' + $('#streamDelay').val());
		};

		if (webhook && webhookRegex.test(String(webhook).toLowerCase()) == true) {
			setCookie(webhook);	
		} else {
			alert("ERROR: Invalid webhook.\nEnter a full URL like: https://www.example.com/path/to/webhook");
		};
	}
	
	
	$(document).ready(function () {
		let enableWebhookCookie = getCookie("nhlc_enable_webhook");
		let webhookCookie = getCookie("nhlc_webhook");
		let streamDelayCookie = getCookie("nhlc_stream_delay");
	
		let streamDelay = $('#streamDelay');
		let checkbox = $('#enable-webhook');
		let webhook = $('#webhook');
		let webhookUpdateButton = $('.input-button');
		let sendWebhook = $('#send-webhook');
		

		if (webhookCookie && enableWebhookCookie == 'true') {
			checkbox.prop('checked', true);
			webhook.show();	
			webhookUpdateButton.show();
			webhook.val(webhookCookie);
			setEnableWebhookText(true);
		} else {
			setEnableWebhookText(false);
		}

		if (streamDelayCookie) {
			streamDelay.val(streamDelayCookie);
		}
		
		checkbox.click(function() {
			if (this.checked) {
				webhook.fadeIn();
				webhookUpdateButton.fadeIn();
				setCookie('nhlc_enable_webhook=true');
				if (getCookie("nhlc_webhook") && getCookie("nhlc_enable_webhook") == 'true') {
					setEnableWebhookText(true);
				}
			} else {
				webhook.hide();
				webhookUpdateButton.hide();
				setEnableWebhookText(false);
				setCookie('nhlc_enable_webhook=false');
			}

		})

		webhookUpdateButton.click(function() {
			setCookies();
			if (getCookie("nhlc_webhook") && getCookie("nhlc_enable_webhook") == 'true') {
				setEnableWebhookText(true);
			}
		})

		sendWebhook.click(async function() {
			sendWebhook.toggleClass('control-button-disabled');
			await webhookRequest(null);
			await new Promise(r => setTimeout(r, 500));
			sendWebhook.toggleClass('control-button-disabled');
		})

	})
</script>
<script>
	$(document).ready(function () {
		
		var heading = $('#instructions-heading');
		var content = $('#instructions-content');
		
		heading.click(function() {
			heading.toggleClass('active');
			content.fadeToggle('fast');
		});
	})
</script>


{% endblock %}


{% block content %}
<div class="dashboard">
	<section>
		<!-- Header with team name and logo -->
		<header class="header">
			{% for team in teams if team.team_abbreviation == team_abbreviation %}
	
			<div>
				<img class="team-logo-team-page" src="{{ team.logo }}" alt="Team Logo" id="teamLogo" />
			</div>
			<h1 class="team-name" id="teamName">{{ team.team_city }} {{ team.team_name }} <span>Goal Horn</span></h1>
			{% endfor %}
		</header>
		<div class="main-callout">Automated goal horn app</div>
	</section>
	<!-- How to Use Instructions -->
	<section id="instrucitons" class="instructions">

		<h2 id="instructions-heading">Configure the NHL Companion</h2>
		<div id="instructions-content" style="display: none;">
			<p>NHL Companion will "watch" the game and send various events when your
				favorite team scores. These events include:</p>
				<ul>
					<li>Automatically sounding the goal horn of your team</li>
					<li>Sending a webhook to any service of your choice. Use this
						to trigger automations in your home automation platform.</li>
					<li>Send a desktop notification, if desired, when a goal is scored.</li>
				</ul>
			<p>
				You can manually sound the goal horn or trigger a webhook request. This is
				great for triggering home automations manually instead of relying on the
				timing of the stream.
			</p>
			<p>Follow the steps below to get started!</p>
			<h3 class="feature-callout">1. Set the stream delay</h3>
			<p>
				To get started, set the "Stream Delay" to match any delay on your video
				feed. NHL Companion often can see the future and spoil the fun. The default
				value is 3 seconds.
			</p>
			<h3 class="feature-callout">2. Configure your webhook</h3>
			<p>
				Use webhooks to trigger home automations when your team scores.
				Enable the webhooks feature and enter the webhook for your
				service (Home Assistant, for example). A POST request will be sent to 
				the webhook when a goal is scored!
			</p>
			<h3 class="feature-callout">3. Keep your browser awake</h3>
			<p>
				NHL Companion will request permission to keep your browser awake.
				If your browser goes to sleep, the goal horn may not sound.
				Keep this tab open and active for the best experience.
			</p>
		</div>
		
	</section>


	<!-- User controls for streaming delay and goal horn -->
	<section class="controls">
		<div class="control-group-config">
			<div class="stream-delay-control">
				<label for="streamDelay">Stream delay</label>
				<input
					type="number"
					id="streamDelay"
					name="streamDelay"
					min="1" max="30"
					placeholder="Stream delay"
					aria-label="Input stream delay in seconds"
				/>
			</div>

			<div>
				<label for="enable-webhook">Enable Webhooks: </label>
				<input type="checkbox" id="enable-webhook">
			</div>

			<div>
				<input 
				class="with-button"
				type="text" 
				id="webhook" 
				placeholder="Webhook: https://..."
				aria-label="Input full webhook url"
				hidden>
				<button class="input-button" hidden>Update</button>
			</div>
			<div class="webhook-enable-text">
				<p><i class="fa-solid fa-circle"></i> <span id="webhook-enable-text">Webhook Enabled</span></p>
				<p id="webhook-url"></p>
			</div>
		
		</div>

		<div class="control-group-buttons">
			{% if game_id %}
			<a
			rel="nofollow"
			href="{{ url_for('watchgame.watchgame', user_team=team_abbreviation, game_id=game_id) }}"
			class="control-button" 
			onclick="setCookies()">
				Start Watching Game
			</a>
			{% else %}
			<button class="control-button control-button-disabled">
				No game today
			</button>
			{% endif %}
			<button id="goal-horn" class="control-button" onclick="playGoalHorn()">
				<i style="margin-right: 10px;" class="fa-solid fa-volume-high"></i>Sound Goal Horn
			</button>
			<button id="send-webhook" class="control-button" onclick="">
				<i style="margin-right: 10px;" class="fa-solid fa-paper-plane"></i>Send Webhook
			</button>
		</div>
	</section>

	<!-- Upcoming games section with detailed format -->
	<section class="upcoming-games">
		<h2>Upcoming Games</h2>
		<ul class="game-list" id="gameList">
			{% for game in team_schedule %}
            {% if game.date >= today %}
			
			<div class="game-card">
				<div class="game-details">
					<span class="game-date">{{ game.date.strftime('%b %d, %Y') }}</span>
					<span class="teams">
						{% for team in teams if team.team_abbreviation == game.home_team %}
						<span class="home-team">{{ team.team_city }} {{ team.team_name }}</span> 
						<span class="vs">vs</span> 
						{% endfor %}
						{% for team in teams if team.team_abbreviation == game.away_team %}
						<span class="away-team">{{ team.team_city }} {{ team.team_name }}</span> 
						{% endfor %}
					</span>
				</div>
				
				<div class="game-card-cta">
					<a
						href="{{game.tickets_link}}"
						target="_blank"
						class="ticket-link"
						><i class="fa-solid fa-xl fa-ticket"></i></a
					>
				</div>
			</div>

				{% if loop.index in [5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90] %}
					<ins class="adsbygoogle"
						style="display:block"
						data-ad-format="fluid"
						data-ad-layout-key="-fc+40+ds-9i-qm"
						data-ad-client="ca-pub-7208176221866382"
						data-ad-slot="7463285609"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				{% endif %}

			{% endif %}
			{% endfor %}
			
		</ul>
	</section>
</div>

{% endblock %}
