{% extends "base.html" %}
{% block html_title %}{{team_abbreviation}} | NHL Companion{% endblock %}
{% block html_head %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const cards = document.getElementById("card-wrapper");
        const distanceToBottom = innerHeight - cards.offsetTop - 50;
        cards.style.height = distanceToBottom.toString() + 'px';
        console.log("Height: " + distanceToBottom.toString());
    });
    
    window.addEventListener('resize', function() {
        const cards = document.getElementById("card-wrapper");
        const distanceToBottom = innerHeight - cards.offsetTop - 50;
        cards.style.height = distanceToBottom.toString() + 'px';
        console.log("Resized to: " + distanceToBottom.toString());
    });
</script>

<script>

    let slug = url => new URL(url).pathname.match(/[^\/]+/g);
    let user_team = slug(document.location.href);

    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'user_team': user_team[1],
    });


</script>

{% endblock %}

{% block content %}

<div class="main">
    <div>
        <a class="go-back" href=" {{ url_for('teams.pick_team') }} ">&#8592; Go back</a>
    </div>
    <div class="title">
        {% for team in teams if team.team_abbreviation == team_abbreviation %}
        <h1>{{ team.team_city }} {{ team.team_name }}</h1>
        {% endfor %}
    </div>
    <div id="card-wrapper" class="card-wrapper">
        <!-- <div class="card flex-2">
            <h2>Team Leaders</h2>
        </div> -->
        <div class="card">

            {% for team in teams if team.team_abbreviation == team_abbreviation %}
            <h2>{{ team.team_name }} Upcoming Schedule</h2>
            {% endfor %}
            <table>
                <thead>
                    <tr>
                        <th>Home</th>
                        <th>Away</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>
                    {% for game in team_schedule %}
                    <tr>
                        {% for team in teams if team.team_abbreviation == game.home_team %}
                        <td>{{ team.team_city }} {{ team.team_name }}</td>
                        {% endfor %}
                        {% for team in teams if team.team_abbreviation == game.away_team %}
                        <td>{{ team.team_city }} {{ team.team_name }}</td>
                        {% endfor %}
                        
                        <td>{{ game.date }}</td>
                        <td><a href="{{ game.tickets_link }}" target="_blank">Tickets</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="card-wrapper stacked">
            {% if game_id %}
            <div class="card">
                <h3>Set stream delay</h3>
                <p>The amount of time the app will pause before playing the goal horn.
                    Tweak this value to work with your stream.</p>
                <form action="{{ url_for('watchgame.watchgame', user_team=team_abbreviation, game_id=game_id) }}" method="post">
                    <input name="stream-delay" type="number" value="10">
            </div>
                <input type="submit" href="#" class="start" value="START APP">
            </form>
                {% else %}
            <div class="card no-game">
                <h3>No game today</h3>
            </div>
            <p class="no-game">Come back on a day your team plays to use the NHL Companion goal horn app. It's cool, I promise.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}