{% extends "base.html" %}
{% block html_title %}{{team_abbreviation}} Goal Horn | NHL Companion{% endblock %} 
{% block meta_desc %}Play {{team_abbreviation}} goal horn! The best hockey goal horn app!{% endblock %} 
{% block html_head %}
{% for team in teams if team.team_abbreviation == team_abbreviation %}
<meta property="og:image" content="{{team.logo}}" />
<meta property="og:title" content="Automatically play the {{team.team_name}} goal horn!" />
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "SportsTeam",
	  "name": "{{ team.team_city }} {{ team.team_name }}",
	  "sport": "Ice Hockey",
	  "memberOf": [
		{
		  "@type": "SportsOrganization",
		  "name": "National Hockey League"
		}
	  ]
	}
</script>
{% endfor %}

<link rel="canonical" href="https://www.nhlcompanion.com/start/{{team_abbreviation}}"> />
<meta name="robots" content="index, follow">

<script>
	
	goalHorn = createGoalHorn();
	function createGoalHorn() {
		let team = getCookie("nhlc_team");
		goalHorn = new Audio('/static/sounds/' + team.toLowerCase() + '.mp3');
		return goalHorn
	}

	function playGoalHorn() {
		if (goalHorn) {
			goalHorn.play();
		} else {
			let team = getCookie("nhlc_team");
			goalHorn = new Audio('/static/sounds/' + team.toLowerCase() + '.mp3');
			goalHorn.play()
		}
		
		goalHornButton = $('#goal-horn');
		goalHornButton.text("Disable Horn");
		goalHornButton.attr("onclick","stopGoalHorn()");
		goalHornButton.addClass("disable-goal-horn");
		
	}
	
	function stopGoalHorn() {
		goalHorn.pause();
		goalHorn = null;
		
		goalHornButton = $('#goal-horn');
		goalHornButton.text("Sound Goal Horn");
		goalHornButton.attr("onclick","playGoalHorn()");
		goalHornButton.removeClass("disable-goal-horn");
	}


</script>

<script>
	let team = getCookie("nhlc_team");

	window.dataLayer = window.dataLayer || [];
	window.dataLayer.push({
		user_team: team[1],
	});
</script>

<script>

	
	function setCookies() {
		webhook = 'nhlc_webhook=' + $('#webhook').val();
		streamDelay = 'nhlc_stream_delay=' + $('#streamDelay').val();

		setCookie(webhook);
		setCookie(streamDelay);
	}
	
	
	$(document).ready(function () {
		let enableWebhookCookie = getCookie("nhlc_enable_webhook");
		let webhookCookie = getCookie("nhlc_webhook");
		let streamDelayCookie = getCookie("nhlc_stream_delay");
	
		let streamDelay = $('#streamDelay');
		let checkbox = $('#enable-webhook');
		let webhook = $('#webhook');

		if (webhookCookie && enableWebhookCookie == 'true') {
			checkbox.prop('checked', true);
			webhook.show();	
			webhook.val(webhookCookie);
		}

		if (streamDelayCookie) {
			streamDelay.val(streamDelayCookie);
		}
		
		checkbox.click(function() {
			if (this.checked) {
				webhook.fadeIn();
				setCookie('nhlc_enable_webhook=true');
			} else {
				webhook.hide();
				setCookie('nhlc_enable_webhook=false');
			}

		})

	})

</script>

<script>

	

</script>


{% endblock %}


{% block content %}
<div class="dashboard">
	<!-- Header with team name and logo -->
	<header class="header">
		{% for team in teams if team.team_abbreviation == team_abbreviation %}
		<img src="{{ team.logo }}" alt="Team Logo" class="team-logo" id="teamLogo" />
		<h1 class="team-name" id="teamName">{{ team.team_city }} {{ team.team_name }} Goal Horn</h1>
		{% endfor %}
	</header>
	<!-- How to Use Instructions -->
	<section class="instructions">
		<h2>Configure the NHL Companion</h2>
		<h3 class="feature-callout">Set the stream delay</h3>
		<p>
			To get started, set the "Stream Delay" to match any delay on your video
			feed. Then, press "Start Watching Game" to enable goal tracking. Changes are 
			coming soon to improve timing!
		</p>
		<h3 class="feature-callout">NHL Companion now supports webhooks!</h3>
		<p>
			Enter the webhook for your service (Home Assistant, for example) and a
			POST request will be sent to the webhook when a goal is scored!
		</p>
		<h3 class="feature-callout">Keep your browser awake</h3>
		<p>
			If your browser goes to sleep, the goal horn may
			not sound. Keep this tab open and active for the best experience.
		</p>
	</section>


	<!-- User controls for streaming delay and goal horn -->
	<section class="controls">
		<div class="control-group-config">
			<div class="stream-delay-control">
				<label for="streamDelay">Stream delay</label>
				<input
					type="number"
					id="streamDelay"
					name="streamDelay"
					min="1" max="30"
					placeholder="Stream delay"
					aria-label="Input stream delay in seconds"
				/>
			</div>

			<div>
				<label for="enable-webhook">Enable Webhooks</label>
				<input type="checkbox" id="enable-webhook">
			</div>

			<div>
				<input 
				type="text" 
				id="webhook" 
				placeholder="Webhook: https://..."
				aria-label="Input full webhook url"
				hidden>
			</div>
		
		</div>

		<div class="control-group-buttons">
			{% if game_id %}
			<a
			rel="nofollow"
			href="{{ url_for('watchgame.watchgame', user_team=team_abbreviation, game_id=game_id) }}"
			class="control-button" 
			onclick="setCookies()">
				Start Watching Game
			</a>
			{% else %}
			<button class="control-button control-button-disabled">
				No game today
			</button>
			{% endif %}
			<button id="goal-horn" class="control-button" onclick="playGoalHorn()">
				Sound Goal Horn
			</button>
		</div>
	</section>

	<!-- Upcoming games section with detailed format -->
	<section class="upcoming-games">
		<h2>Upcoming Games</h2>
		<ul class="game-list" id="gameList">
			{% for game in team_schedule %}
            {% if game.date >= today %}
			
			<div class="game-card">
				<div class="game-details">
					<span class="game-date">{{ game.date.strftime('%b %d, %Y') }}</span>
					<span class="teams">
						{% for team in teams if team.team_abbreviation == game.home_team %}
						<span class="home-team">{{ team.team_city }} {{ team.team_name }}</span> 
						<span class="vs">vs</span> 
						{% endfor %}
						{% for team in teams if team.team_abbreviation == game.away_team %}
						<span class="away-team">{{ team.team_city }} {{ team.team_name }}</span> 
						{% endfor %}
					</span>
				</div>
				
				<div class="game-card-cta">
					<a
						href="{{game.tickets_link}}"
						target="_blank"
						class="ticket-link"
						><i class="fa-solid fa-xl fa-ticket"></i></a
					>
				</div>
			</div>

			{% endif %}
			{% endfor %}
			
		</ul>
	</section>
</div>

{% endblock %}
