{% extends "base.html" %}
{% block html_title %}🚨Let's go {{ user_team }}!🚨{% endblock %}
{% block html_head %}
<meta name="robots" content="noindex, nofollow">
<meta id="game_id" data="{{game_id}}">
<meta id="user_team" data="{{user_team}}">
<meta id="stream_delay" data="{{stream_delay}}">

<script src="{{ url_for('static', filename='js/watchgame.js') }}"></script>
<script src="{{ url_for('static', filename='js/goalhorn.js') }}"></script>
<script src="{{ url_for('static', filename='js/wakelock.js') }}"></script>

{% endblock %}

{% block content %}

  <div class="container scoreboard">
    <!-- Main Scoreboard Section -->
    <section class="scoreboard-main">
      <div class="team-info">
        <div class="team home-team">
          <img src="{{ home_team['logo'] }}" alt="Home Team Logo">
          <p>Home</p>
        </div>
        <div class="score">
          <span id="home-score" class="home-score"><img src="" alt=""></span> - <span id="away-score" class="away-score"><img src="" alt=""></span>
        </div>
        <div class="team away-team">
          <img src="{{ away_team['logo'] }}" alt="Away Team Logo">
          <p>Away</p>
        </div>
      </div>
      <div class="game-info">
        <p id="period-div"><span id="period-label"></span><span id="period"></span></p>
        <p id="time-div"><span id="time-label"></span><span id="time"></span></p>
      </div>
    </section>
    
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-7208176221866382"
    data-ad-slot="2051881095"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    
    <div class="toast-notification" id="toast">
        <img src="" alt="Team Logo" class="team-logo-toast">
        <img src="" alt="Player Headshot" class="player-headshot">
        <div class="toast-content">
          <div class="toast-details">
              <p class="player-name"></p>
              <p class="play-type"></p>
          </div>
        </div>
    </div>
      
    
  </div>








{% endblock %}