{% extends "base.html" %}
{% block html_title %}🚨Let's go {{ user_team }}!🚨{% endblock %}
{% block html_head %}

<meta id="game_id" data="{{game_id}}">
<meta id="user_team" data="{{user_team}}">
<meta id="stream_delay" data="{{stream_delay}}">

<script src="{{ url_for('static', filename='js/watchgame.js') }}"></script>

{% endblock %}

{% block content %}

<div class="main">
    <div>
        <a class="go-back" href=" {{ url_for('teams.pick_team') }} ">&#8592; Go back</a>
    </div>
    <div class="clock">
        <div><h4 id="period-label">Period</h4><span id="period"></span></div>
        <div id="time-div"><h4 id="time-label">Time Remaining</h4><span id="time"></span></div>
    </div>
    <div id="scoreboard" class="scoreboard">
        <div class="away-team">
            <!-- <h2>Away Team</h2> -->
            <img src="{{ away_team['logo'] }}" alt="">
            <h3>{{ away_team['name']['default'] }}</h3>
            <p id="away-score">Getting scores...</p>
        </div>
        <div>@</div>
        <div class="home-team">
            <!-- <h2>Home Team</h2> -->
            <img src="{{ home_team['logo'] }}" alt="">
            <h3>{{ home_team['name']['default'] }}</h3>
            <p id="home-score">Getting scores...</p>
        </div>
    </div>
</div>

{% endblock %}