{% extends "base.html" %} 
{% block html_title %}NHL Goal Horn App | NHL Companion{% endblock %} 
{% block meta_desc %}Try the NHL Companion app today!Select your team and sound the goal horn automatically when your team scores!{% endblock %} 


{% block html_head %}

{% endblock %}


{% block content %}
    <div class="container homepage">
      <!-- Introduction Section -->
      <section class="intro">
        <h1>Welcome to NHL Companion</h1>
        <p>NHL Companion is the ultimate tool for hockey fans! This web application
          automatically plays your favorite NHL team's goal horn whenever they
          score, bringing the excitement of live hockey right to your device. With
          real-time updates and authentic NHL Goal Horn sounds, you'll never miss a
          goal celebration. Whether you're watching the game or on the go, the NHL
          Companion is a must-have for die-hard fans.</p>
      </section>
  
      <!-- Team Selection Overlay -->
      <section class="team-selection">
        <h2>Select Your Team</h2>
        <div class="team-grid">
          <!-- Placeholder logos for teams -->
          {% for team in teams %}
          <div class="team-logo" onclick="selectTeam('team1')">
            <a href="{{ url_for('teams.team_page', team=team.team_abbreviation) }}"><img src="{{ team.logo }}" alt="Team 1 Logo"></a>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>


{% endblock %}