{% extends "base.html" %} {% block html_title %}NHL Goal Horn App | NHL Companion{% endblock %} 

{% block meta_desc %}Try the NHL Companion app today! Select your team and sound the goal horn automatically when your team scores!{% endblock %}


{% block html_head %}

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const cards = document.getElementById("card-wrapper");
		const distanceToBottom = innerHeight - cards.offsetTop - 50;
		cards.style.height = distanceToBottom.toString() + "px";
		console.log("Height: " + distanceToBottom.toString());
	});

	window.addEventListener("resize", function () {
		const cards = document.getElementById("card-wrapper");
		const distanceToBottom = innerHeight - cards.offsetTop - 50;
		cards.style.height = distanceToBottom.toString() + "px";
		console.log("Resized to: " + distanceToBottom.toString());
	});
</script>

<script>
	function selected() {
		let el = $("#pick-team");
		el.addClass("selected");

		let h1 = $("#title");
		h1.addClass("fade-out");
	}
</script>

{% endblock %} {% block content %}

<div class="main">
	<div class="title">
		<h1 id="title">NHL Companion</h1>
	</div>

	<section id="card-wrapper">
		<a
			id="pick-team"
			href="javascript:setTimeout(()=>{window.location = '{{ url_for('teams.pick_team') }}' },1000);"
			class="start"
			onclick="selected()"
			>Pick your team</a
		>
	</section>
</div>

{% endblock %}
