/*
CSS RESET
CSS RESET
CSS RESET

Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.25;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

table {
    border-spacing: 0;
}

/* END CSS RESET */
/* END CSS RESET */
/* END CSS RESET */

hr {
    width: 100%;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
}

body {
    background-color: #111;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.main {
    padding: 50px 100px;
    display: flex;
    flex-flow: column wrap;
}

.title {
    display: grid;
    grid-template-columns: max-content 1fr;
    font-variant: small-caps;
}

.title h1 {
    font-size: 80px;
}

.title p {
    font-size: 1.5rem;
    padding: 0 0 25px 150px;
    text-align: justify;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-wrapper .stacked {
    flex-flow: column;
    max-width: 25vw;
}

.card-wrapper .stacked>* {
    flex: 1;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    font-size: 1.5rem;
    flex: 3;
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 20px;
    margin: 10px;
    overflow-y: scroll;
}

.card.no-game {
    flex: 100;
    background-color: #555;
    border-color: #555;
    color: #888;
    justify-content: center;
    cursor: not-allowed;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-variant: normal;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 10px;
}

.card .flex-2 {
    flex: 2;
}

.card::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.card::-webkit-scrollbar-thumb {
    background-color: #fff;
}

.card h2 {
    font-size: 2em;
    text-align: left;
    font-variant: small-caps;
}

.card h3 {
    font-size: 1.5em;
}

.card h4 {
    font-size: 1.25em;
}

.card p {
    font-variant: normal;
    padding-bottom: 10px;
    text-align: left;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 150px;
    border: none;
    padding: 100px;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(ellipse at top left, #3e56a7, #04acff);
    color: #fff;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 4rem;
    text-decoration: none;
    box-shadow: 0 0 10px 5px #fff;
    animation: pick-team-animation 1s ease infinite;
}

.start:hover {
    animation: none;
    box-shadow: 0 0 15px 10px #fff;
}

.start.selected {
    margin-left: 75%;
    transform: rotate(180deg);
    width: max-content;
    transition: all 3s;
}

.start-app {
    border: white 2px solid;
    background-color: #ff4500;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    margin: 10px;
}

.start-app:hover {
    background-color: #ff450090;
    cursor: pointer;
    transition: all 0.25s;
}

.fade-out {
    opacity: 0;
    transition: all .75s;
}

@keyframes pick-team-animation {
    0% {
        box-shadow: 0 0 10px 5px #fff;
    }

    50% {
        box-shadow: 0 0 20px 10px #fff;
    }

    100% {
        box-shadow: 0 0 10px 5px #fff;
    }
}

table {
    border-spacing: 0 10px;
}

thead {
    font-weight: bold;
    font-size: 1.75rem;
}

tbody tr:hover {
    background-color: #ffffff20;
}

tbody td a {
    text-decoration: none;
    color: #fff;
    background-color: #ff4500;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
}

tbody td a:hover {
    background-color: #ff450090;
}

.conference {
    background-color: #333;
}

.go-back {
    color: #04acff;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 3s;
}

.go-back:hover {
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
        font-size: 100%;
    }

    50% {
        font-size: 80%;
    }

    100% {
        font-size: 100%;
    }
}

.teams {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.teams a {
    flex: 1;
    min-width: 250px;
    max-width: 250px;
    margin: 10px;
    padding: 10px 0;
    transition: all 0.3s;
    border-radius: 5px;
    transition: all .75s;
}

.teams a.pulse:hover {
    animation: pulse-logo 1s infinite;
}

@keyframes pulse-logo {
    0% {
        transform: scale(100%)
    }

    50% {
        transform: scale(120%);
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: scale(100%);
        transform: rotate(0deg);
    }
}

.chosen {
    animation: chosen 1.5s;
}

@keyframes chosen {
    0% {}

    100% {
        transform: rotate(355deg) scale(300%);
        top: inherit;
    }
}


.clock {
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-around;
    border: solid 2px white;
    background-color: #333;
}

.clock>div {
    margin: 20px;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.clock h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

.scoreboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    height: min-content;
}

.scoreboard>div:not([class]) {
    font-size: 5rem;
}

.scoreboard>div[class="away-team"],
.scoreboard>div[class="home-team"] {
    flex: 2;
}

.scoreboard>div * {
    padding: 10px 0;
}



@media screen and (max-width: 1500px) {
    .start {
        font-size: 2rem;
        padding: 50px;
    }
}